.footer-section {
  background-color: #2f4f3f;  /* deep eco green */
  color: #ffffff;
}

.footer-links{
list-style:none;
padding:0;
}

.footer-links li{
margin-bottom:8px;
}

.footer-links a{
color:#bbb;
text-decoration:none;
transition:0.3s;
}

.footer-links a:hover{
color:#0f9d7a;
}

.footer-social a{
color:white;
margin:0 10px;
font-size:18px;
transition:0.3s;
}

.footer-social a:hover{
color:#0f9d7a;
}

.footer-line{
border-color:#333;
}
.footer-logo {
  width: 245px;
  border-radius: 15px;
  padding-top: 10px;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  display: block;
}